/* Body Format */
body, html {
  background-image: url("./img/bg.jpg");
  background-position: center;
  background-size: cover;
  color: rgb(6, 40, 20);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100%;
  margin: 0;
}

/* Colors */
.bg-orange {
  background-color: rgb(240, 80, 20);
}
.bg-yellow {
  background-color: rgb(245, 217, 57);
}
.c-white {
  color:rgb(240, 240, 240);
}

/* Forms & Lists */
label {
  display: block;
  margin-top: 10px;
}
.edit-form {
  margin: auto;
  max-width: 300px;
}
.list {
  text-align: left;
  margin: auto;
  max-width: 750px;
}
.submit-form {
  margin: auto;
  max-width: 300px;
}

/* Card Display */
.card {
  background-color: rgb(253, 243, 214);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
}
.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}
.input-display {
  background-color: rgb(245, 217, 57);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  max-width: 350px !important;
}
.profile-img-card {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
  display: block;
  height: 96px;
  margin: 0 auto 10px;
  width: 96px;
}
.tag {
  background-color: rgb(253, 243, 214);
  border: none;
  border-radius: 16px;
  color: rgb(6, 40, 20);
  font-size: 16px;
  outline: none;
  padding: 8px;
  text-align: center;
  transition-duration: 0.1s;
}
